div#home-page
  div#top-bar
  div#middle-bar
    div#logo-search
    div#snippet
      div#badge
      p#copy Help shape the future of Firefox! Preview and test great new features with the <a href="index.jade">Firefox Experments Lab</a>
  div#bottom-bar
