div#home-page
  div#top-bar
  div#middle-bar
    div#logo-search-2
    div#snippet
      div#badge
      p#copy Firefox is making search personal. Help us shape the future with the <br> <a href="index.jade">Firefox Experments Lab</a>
  div#bottom-bar
